# archivos a ignorar por git

# Configuraciones de vscodium
.vscode/
# Varios tests
TEST/
# Tags de ctags (nvim)
tags
# dockerfile 
dockerfile
# Pruebas de compilación
PageTransmuter
# Script de actualización, saldrá cuando lance una nueva versión
UPDATE.sh
# Archivo comprimido para la release
PageTransmuter.tar.gz
