[Desktop Entry]

Name=PageTransmuter
Comment=Formatea un archivo HTML para usarlo en C y C++
Terminal=true
Type=Application
Categories=HTML;CSS;WEB;HTTP;C;C++;CPP;

Exec=/usr/local/bin/T_Royale/PageTransmuter/PageTransmuter
Icon=/usr/local/bin/T_Royale/PageTransmuter/Program_files/PageTransmuter_icon.png